In [99]:
import pandas as pd
import unidecode
import re

In [85]:
df_1 = pd.read_csv('reviews/train-1.csv')

In [86]:
df_1.columns
df_1.drop(columns=['Unnamed: 0'],inplace=True) # drop index column

In [87]:
df_1.info() # missing data for product_title and review_headline

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   product_id           1200 non-null   object
 1   product_parent       1200 non-null   int64
 2   product_title        1188 non-null   object
 3   vine                 1200 non-null   object
 4   verified_purchase    1200 non-null   object
 5   review_headline      1118 non-null   object
 6   review_body          1200 non-null   object
 7   review_date          1200 non-null   object
 8   marketplace_id       1200 non-null   int64
 9   product_category_id  1200 non-null   int64
 10  label                1200 non-null   bool
dtypes: bool(1), int64(3), object(7)
memory usage: 95.0+ KB

In [113]:
def normalize_text(t):
    t = str(t)
    t = unidecode.unidecode(t) # convert to ascii
    t = t.lower()
    t = re.sub(r"[^a-zA-Z0-9]+", ' ', t) # remove special characters
    return t

In [114]:
df_1['product_title']

# check for duplicate movie titles by normalizing:
df_1['product_title'].apply(lambda x: normalize_text(x))

0                                        green zone dvd
1                               le secret de green knowe
2                                   a disney sketchbook
3                                   your erroneous zones
4                            konig der mathematik junior
                              ...
1195                                       american gods
1196                                           happiness
1197                                         lord of war
1198    world without end the kingsbridge novels book 2
1199                        endless forms most beautiful
Name: product_title, Length: 1200, dtype: object

In [68]:
# check if there are any duplicate records in the data
df_1.duplicated().value_counts() # no exact duplicates 

# check if product_id - product_title pairs are consistent
dupl_productids = df_1[df_1['product_id'].duplicated()].sort_values(by=['product_id'],ascending=True) # get products that appear more than once in data set

False    1078
True      122
Name: product_id, dtype: int64